{% extends 'main_base.html' %}
{% load i18n %}
{% block title %}
{% trans 'Загруженные заказы' %}
{% endblock %}
{% load static %}
{% block content %}
<h2 class="text-center mb-4">Значок на 37 мм</h2>

<table>
    <thead>
    <tr>
        <th>Код товара</th>
        <th>Название</th>
        <th>Размер</th>
        <th>Количество в наборе</th>
        <th>Общее количество</th>
        <th>Путь к файлам</th>
    </tr>
    </thead>
    <tbody>
    {% for order in queryset_37 %}
    <tr>
        <td>{{ order.code_prod }}</td>
        <td>{{ order.name_product }}</td>
        <td>{{ order.size }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.total_num }}</td>
        <td>{{ order.path_files }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h3>Список файлов:</h3>
    <ul>
    {% for file in files_37 %}
        <li>
            {{ file.name }} <a href="{{ file.image.url }}" download>Download</a><br>
        </li>
    {% empty %}
        <li>Файлы отсутствуют.</li>
    {% endfor %}
    </ul>
<h2 class="text-center mb-4">Значок на 56 мм</h2>
<table>
    <thead>
    <tr>
        <th>Код товара</th>
        <th>Название</th>
        <th>Размер</th>
        <th>Количество в наборе</th>
        <th>Общее количество</th>
        <th>Путь к файлам</th>
    </tr>
    </thead>
    <tbody>
    {% for order in queryset_56 %}
    <tr>
        <td>{{ order.code_prod }}</td>
        <td>{{ order.name_product }}</td>
        <td>{{ order.size }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.total_num }}</td>
        <td>{{ order.path_files }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h3>Список файлов:</h3>
    <ul>
    {% for file in files_56 %}
        <li>
            {{ file.name }} <a href="{{ file.image.url }}" download>Download</a><br>
        </li>
    {% empty %}
        <li>Файлы отсутствуют.</li>
    {% endfor %}
    </ul>
{% endblock %}

